.poll-results-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
  }
  
  .result-question-container {
    margin-bottom: 20px;
  }
  
  .percentage-bars-container {
    margin-top: 10px;
  }
  
  .percentage-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  
  .fill {
    background-color: #4caf50;
    height: 20px;
    border-radius: 5px;
  }
  
  .percentage-bar span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  