*{
    font-family: Arial, Helvetica, sans-serif;
    color:#1d0e4d;
}

.headline {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

h2 {
    font-size: 30px;
}

.background-pic{
    background-size: cover;
    background-image: linear-gradient(to bottom right, #18ddc3, #2352d494);
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-logo {
    
    width: 50%;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first {
    flex: 1
}

.first p {
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    background-color: #5b37c515;
    border: 1px solid #5b37c550;
    border-radius: 8px;
}

input:focus {
    outline-color: #5b37c5ab;
    box-shadow: 0px 0px 12px 4px #866bd7;
}

button {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px;
    background-color: #5b37c5;
    color: white;
    border: 1px solid #5b37c5;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow .15s,transform .15s;
}

.another-form{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.another-form button{
    margin: 10px;
}

button:hover {
    /* background-color: #7352d6;
    border: 1px solid #7352d6; */
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #40278a 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
  box-shadow: #40278a 0 3px 7px inset;
  transform: translateY(2px);
}

.right-side {
    flex: 1;
}

.link {
    padding: 0 10px;
    text-decoration: none;
    color: #5b37c5;
    font-weight: 550;
}

.link:hover {
    text-decoration: underline;
}