*{
    font-family: Arial, Helvetica, sans-serif;
    color:#1d0e4d;
}

.headline {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

h2 {
    font-size: 30px;
}

.background-pic{
    background-size: cover;
    background-image: linear-gradient(to bottom right, #18ddc3, #2352d494);
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-logo {
    
    width: 50%;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first {
    flex: 1
}

.first p {
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    background-color: #5b37c515;
    border: 1px solid #5b37c550;
    border-radius: 8px;
}

button {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px;
    background-color: #5b37c5;
    color: white;
    border: 1px solid #5b37c5;
    border-radius: 8px;
}

.another-form{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.another-form button{
    margin: 10px;
}

button:hover {
    background-color: #8762f8;
    border: 1px solid #8762f8;
}

.right-side {
    flex: 1;
}

.link {
    padding: 0 10px;
    text-decoration: none;
    color: #5b37c5;
    font-weight: 550;
}

.link:hover {
    text-decoration: underline;
}